/* Style pour la structure, on va faire un fond blanc */

body {     
   background-color: #FFF;
   padding: 0px;
   margin: 0px 0px 0px;
   font-family: verdana, sans-serif;
   font-weight: normal;
}


/* Style pour interdire la sélection */

.protectiondelaloutre {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Style pour le texte, on va écrire en blanc sur blanc */

 p {
            color: #FFF;
            font-size: 1.2em;
            font-style: normal;
            font-weight: normal;

        }

