body {     
   background-color: #0C3D87;
   padding: 0px;
   margin: 0px 0px 0px;
   font-family: verdana, sans-serif;
   font-weight: normal;
}

#entetepage {
  background-color: #0C3D87;
}

#menu {
  background-color: #0C3D87;
}

#contenupage {
  background-color: #ffffff;
}

#menu-icon {
  background-color: #0C3D87;
   }

.aligner-div  {
  width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  border:0px;
  padding: 0px;
  justify-content: center;
}


.aligner-div2  {
  width: 100%;
  height: auto;
  margin: 0px;
  border: 0px;
  padding: 0px;
  justify-content: center;
}
		
		 
		 .container600 {
            
			justify-content: center;
			align-items: center;
                     
			padding: 10px;
			margin-left: auto;
			margin-right: auto;
			width: 800px;
			max-width: 80%;

        }
		 
		 
		 .container700 {
            
			justify-content: center;
			align-items: center;
			padding: 0px;
			margin: 0px;
			width: 800px;
			max-width: 100%;
  
        }
		 
		 
		 .container {
            display: flex;	
            flex-wrap: wrap; /* Permet aux enfants de passer à la ligne */
            width: 100%;
            justify-content: space-around; /* Espacement autour des enfants */
            align-items: flex-start; /* Aligne les enfants en haut */      
        }
		
        .child600 {
            flex: 1 1 600px; /* Prend une part égale de l'espace avec une largeur minimale de 600px */
            margin: 20%; /* Espacement entre les enfants */
            padding: 20px;/* Espacement intérieur */
            
		
			
        }
		.child {
            flex: 1 1 300px; /* Prend une part égale de l'espace avec une largeur minimale de 300px */
            margin: 10px; /* Espacement entre les enfants */
            padding: 20px;/* Espacement intérieur */
              
			justify-content: center;
			align-items: center;
        }
		
        
        @media (max-width: 600px) {
            .child {
                flex: 100%; /* Les enfants prennent toute la largeur sur petits écrans */
            }
        }
		