/* The outermost element*/
.header-wrapper {
  overflow: hidden;
  text-align: center;

}

.zoominheader {
	text-align: center;
	background: url("images/banniere-digital-12.svg");
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
	position: relative;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-webkit-animation: zoomin 30s ease-in infinite;
	animation: zoomin 30s ease-in infinite;
	transition: all 0.5s ease-in-out;
	overflow: hidden;
	height: 300px;
	width: 100%;
	background-image: url(images/banniere-animation-1.gif);
}


.zoominfooter {
	text-align: center;
	background-size: cover;
	background-attachment: fixed;
	background-repeat: repeat;
	position: relative;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-webkit-animation: zoomin 30s ease-in infinite;
	animation: zoomin 30s ease-in infinite;
	transition: all 0.5s ease-in-out;
	overflow: hidden;
	height: 430px;
	width: 100%;
	background-image: url(images/banniere-animation-1.gif);
}



/* The innermost element*/
.zoomoutheader {
  text-align: center;
  background: none;
  -webkit-animation: zoomout 30s ease-in infinite;
  animation: zoomout 30s ease-in infinite;
  transition: all 0.5s ease-in-out;
  overflow: hidden;
}

/* Zoom in Keyframes */
@-webkit-keyframes zoomin {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes zoomin {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
} /*End of Zoom in Keyframes */

/* Zoom out Keyframes */
@-webkit-keyframes zoomout {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes zoomout {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
} /*End of Zoom out Keyframes */
